@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css');

@import "tailwindcss";


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color: #FFFFFF;
  --shadow: #f08c00;
  --glare: hsl(0 0% 100% / 0.7E5);
  --font-size: clamp(6rem, 9vw, 6.5rem);
  --transition: 0.2s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0D0D0D;
  font-family: 'Poppins', sans-serif;
}

.animate-float-delayed {
  animation: float-delayed 3s ease-in-out infinite;
}
.animate-zeca-pagodinho {
  animation: spin-zequinha 3s ease-in-out infinite;
}

@keyframes float-delayed {
  0% { transform: translateY(-10px);}
  50% { transform: translateY(0); }
  100% { transform: translateY(-10px);}
}

@keyframes spin-zequinha {
  0% {
    
    width: 120px;
    height: 120px;
  }
  50% { 
    width: 220px;
    height: 220px;
   }
  100% { 
    width: 350px;
    height: 350px;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
  max-width: 100%;
  margin: 0 auto;
}

.image-container.expanded-rotate {
  transform: scale(1) rotate(360deg);
}

.zequinha {
  transition: transform 1.5s ease-in-out;
  border-radius: 50%;
  height: auto;
}

.zequinha.rotate {
  transform: scale(1.5) rotate(360deg);
}


.random-image {
  max-width: 10vw;
  height: auto;
  position: absolute;
}

a {
  --padding: .5rem;
  padding: var(--padding);
  border-radius: 1.25rem;
  text-decoration: none;
  color: transparent;
  position: relative;
  transition: background 0.2s;
}

span {
  display: inline-block;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 900;
  transition: all 0.2s;
  text-decoration: none;
  text-shadow:
    calc(var(--hover) * (var(--font-size) * -0)) calc(var(--hover) * (var(--font-size) * 0)) var(--shadow),
    calc(var(--hover) * (var(--font-size) * -0.02)) calc(var(--hover) * (var(--font-size) * 0.02)) var(--shadow),
    calc(var(--hover) * (var(--font-size) * -0.04)) calc(var(--hover) * (var(--font-size) * 0.04)) var(--shadow),
    calc(var(--hover) * (var(--font-size) * -0.06)) calc(var(--hover) * (var(--font-size) * 0.06)) var(--shadow),
    calc(var(--hover) * (var(--font-size) * -0.08)) calc(var(--hover) * (var(--font-size) * 0.08)) var(--shadow),
    calc(var(--hover) * (var(--font-size) * -0.10)) calc(var(--hover) * (var(--font-size) * 0.10)) var(--shadow);
  transform: translate(calc(var(--hover) * (var(--font-size) * 0.10)), calc(var(--hover) * (var(--font-size) * -0.10)));
}

span:last-of-type {
  position: absolute;
  inset: var(--padding);
  background: linear-gradient(
    108deg,
    transparent 0 55%,
    var(--glare) 55% 60%,
    transparent 60% 70%,
    var(--glare) 70% 85%,
    transparent 85%
  ) calc(var(--pos) * -200%) 0% / 200% 100%, var(--color);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  z-index: 2;
  text-shadow: none;
  transform: translate(calc(var(--hover) * (var(--font-size) * 0.10)), calc(var(--hover) * (var(--font-size) * -0.10)));
}

span:last-of-type {
  transition: transform 0.2s, background-position 0s;
}

a {
  --hover: 0.4;
  --pos: 0;
}

a.trigger {
  --hover: 1;
  --pos: 1;
}

a.trigger svg {
	-webkit-animation: sparkle 3s calc((var(--delay-step) * var(--d)) * 3s) both infinite;
	        animation: sparkle 3s calc((var(--delay-step) * var(--d)) * 3s) both infinite;
}

a.trigger span:last-of-type {
  transition: transform 3s, background-position calc(var(--hover) * 3s) calc(var(--hover) * 5s) infinite;
}

a:active {
  --hover: 0;
}

a:active span:last-of-type {
  --hover: 0;
  --pos: 1;
}

a svg {
	position: absolute;
	z-index: 3;
	width: calc(var(--font-size) * 0.5);
	aspect-ratio: 1;
}

a svg path {
	fill: var(--glare);
}


@-webkit-keyframes sparkle {
	50% {
		transform: translate(-50%, -50%) scale(var(--s, 1));
	}
}

@keyframes sparkle {
	50% {
		transform: translate(-50%, -50%) scale(var(--s, 1));
	}
}

a svg {
	--delay-step: 0.15;
	top: calc(var(--y, 50) * 1%);
	left:  calc(var(--x, 0) * 1%);
	transform: translate(-50%, -50%) scale(0);
}

a svg:nth-of-type(1) {
	--x: 0;
	--y: 20;
	--s: 1.1;
	--d: 1;
}

a svg:nth-of-type(2) {
	--x: 15;
	--y: 80;
	--s: 1.25;
	--d: 2;
}

a svg:nth-of-type(3) {
	--x: 45;
	--y: 40;
	--s: 1.1;
	--d: 3;
}

a svg:nth-of-type(4) {
	--x: 75;
	--y: 60;
	--s: 0.9;
	--d: 2;
}

a svg:nth-of-type(5) {
	--x: 100;
	--y: 30;
	--s: 0.8;
	--d: 4;
}

.fade-in-right {
  opacity: 0;
  transform: translateX(-20px);
  animation: fadeInRight 2s forwards;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

i::before {
  color: transparent;
  -webkit-text-stroke: 0.8px #ffffff;
  animation: glowing 1.2s reverse infinite ease-in-out;
}

i:nth-child(1)::before {
  animation-delay: 0;
}
i:nth-child(2)::before {
  animation-delay: 0.21s;
}
i:nth-child(3)::before {
  animation-delay: 0.41s;
}

@keyframes glowing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    filter: drop-shadow(0 0 0 #ffffff) drop-shadow(0 0 1px #ffffff)
      drop-shadow(0 0 2px #b91c1c) drop-shadow(0 0 3px #b91c1c)
      drop-shadow(0 0 4px #b91c1c) drop-shadow(0 0 5px #b91c1c);
  }
}
